@charset "UTF-8";
/* CSS Document */
p{
	font-family: "Bouba Round Var Regular ", "Comic Sans MS", "Noteworthy Light";}
h1{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";}
h2{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";}
h3{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";}
ul{
	font-family: "Bouba Round Var Regular Regular", "Comic Sans MS", "Noteworthy Light"
}
