h1 {@charset "UTF-8";}
/* CSS Document */
body {
	background-color: antiquewhite;
}
box-sizing:border-box

<link href="stylesheet.css" rel="stylesheet" type="text/css">
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.column {
	float: left;
	width:50%;
	padding: 5px;
}
.row {
	display:flex;
}

h1 {
	text-align: center;
	font-size:45px
	;color:#10472E;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif" 
}
h2{
	text-align: center;
	font-size:30px;
	color: #C76162;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"
		
}
.navbar {
	display: flex;
	justify-content: center;
  overflow: hidden;
  background-color: #333;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 20px;
  color: antiquewhite;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
h2 {text-align: center}
/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #10472E;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color:indianred;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: blueviolet;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}




	
	
