body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.parallax {
    position: relative;
    background-image: url('https://i.pinimg.com/originals/be/14/1b/be141b5f8bfd10a522176b7c612b9fd0.gif');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 2rem;
    color: #151515;
    text-transform: uppercase;
    border-bottom: 3px solid #ef963e;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: square;
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    font-size: 1.1rem;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: #3c91ec;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover {
    text-decoration: underline;
}

.content {
    padding: 50px;
    background: white;
    font-size: 1.2rem;
    color: black;
}

.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
}

.horizontal-scroll section {
    min-width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
    background: linear-gradient(135deg, #5dc1dd86, #ffc300);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.52);
    font-size: 2rem;
    font-weight: bold;
}

.horizontal-scroll img {
    width: 80vw;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    margin-top: 50px;
}