body {
    width: 80%; 
    max-width: 1920px; 
    margin: 0 auto; 
    background-color: black; 
    color: white; 
    font-family: Arial, sans-serif; 
    padding: 20px; 
    text-align: left; 
}

.bar {
    position: absolute;
    left: 1030px; 
    top: 10; 
    width: 150px;
    height: auto;
    border-radius:0px;
	z-index: 4;
}
.erka {
    position: absolute;
    left: 500px; 
    top: 30px; 
    width: 120px;
    height: auto;
	
}

.text-position-1 {
    position: absolute; 
    left: 878px;  
    top: 0px;   
    color: lightgray;
	font-size: 30px;
	font-weight: bold;
	z-index: 5;
}
.text-position-2 {
    position: absolute; 
    left: 1060px;  
    top: 0px;   
    color: black;
	font-size: 30px;
	font-weight: bold;
	z-index: 5;
}
.text-position-3 {
    position: absolute; 
    left: 710px;  
    top: 0px;   
    color: lightgray;
	font-size: 30px;
	font-weight: bold;
	z-index: 5;
}
.Header{
	position: absolute; 
    left: 710px;  
    top: 150px;   
    color: lightgray;
	font-size: 30px;
	font-weight: bold;
	z-index: 5;
}
.text-position-4 {
    position: absolute; 
    left: 40px;  
    top: 180px;   
    color: lightgray;
	font-size: 30px;
	z-index: 5;
}
.text-position-5 {
    position: absolute; 
    left: 1190px;  
    top: 0px;   
    color: lightgray;
	font-size: 30px;
	font-weight: bold;
	z-index: 5;
}