section {
 position: relative;
 width: 100%;
 height: auto;
 margin: 0;
}

img{
    position: relative;
    width: 100%;
    height: auto;
}

.container-fog-hero{
    display: flex;
    justify-content: center;
    width: 100%;
}
h1{
    position: absolute;
    align-items: center;
    z-index: 1;
    font-size: 20vw;
    opacity: 0.6;

}
p{
    margin: 0;
}
.paragraph-container{
    background-color: rgb(79, 84, 84);
    padding: 20px;
}
.weather-p{
    color: aliceblue;
    letter-spacing: 1px;
}
.fall-container{
    display: flex;
    align-items: end;
    justify-content: end;
}
.fall-p{
    margin-right: 30px;
    margin-bottom: 50px;
    color: orangered;
}