::-webkit-scrollbar{
	display:none;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Helvetica;
	font-size: 4em;
	color: white;	

	.parallax-wrapper {
		height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
		perspective: 300px;
		

		.first-screen {
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			background-image: url('images/fourkay.jpg');
			background-size: cover;
			background-position: center; 
		}

		.last-screen {
			height: 100vh;
			background-color: black;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.parallax-group {
			position: relative;
			height: 100vh;
			transform-style: preserve-3d;

			.parallax-layer {
				position: absolute;
				inset: 0; /* Like "Margin" includes all 4 margins, "inset" includes top, right, bottom, left*/
				
			}
			.back-layer {
				transform: translateZ(-300px) scale(1.2);
				display: flex;
				justify-content: center;
				align-items: center;
				object-fit:fill;
				
			}
			
		
			.mid-layer{
				transform: translateZ(-500px) scale(5);
				display: flex;
				justify-content: center;
				align-items: center;
				object-fit: contain; 
				position: absolute;
				width: 100vw; 
				height: 100vh; /* Full height of the viewport */
				background-color:black;
			}
			
			.top-layer{
				transform: translateZ(210px) scale(.5);
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		#first{}
		#group-1{
			z-index: -1;
		}
		#group-1 > .back-layer {
				background-image: url('images/lake.jpg');
				background-size: cover;
				background-position: center;			}
		/*#group-1 > .mid-layer{
			background-color:aquamarine;
		}*/
		#group-2{
		}
		#group-2 > .mid-layer{
			transform: translateZ(-500px) scale(2);
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			background-image: url('images/shrooms.jpg');
			background-size: cover;
			background-position: center;
		}
		
		#last{
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			background-image: url('images/leaves.jpg');
			background-size: cover;
			background-position: center;
		}
		
		#par{
			height: 100vh;
			background-color: black;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}