@charset "UTF-8";
/* CSS Document */
p {
	font-family: Arial;
	color: cornflowerblue;
	font-size: 72px;}

h1 {
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}